@charset "UTF-8";
@import "source/foresee.css";
@import "source/codelight.css";

/* theme-color: #FF6347(tomato)  #FF00FF(violet) #00BFFF(sky) #00CD66(grass) #FF8C00(orange)*/

:root {
    --display: #666;
    --article: #FFF;
    --sidebar: #F2F2F2;
    --text-color: #323232;
    --theme-color: #FF6347;
    --focus-color: #00BFFF;
    --bg-color: var(--article);
    --primary-color: var(--theme-color);
    --rawblock-edit-panel-bd: var(--sidebar);
    --item-hover-bg-color: var(--theme-color);
    --control-text-hover-color: var(--theme-color);
    --font-family: "Microsoft YaHei", "Arial", "sans-serif";
}