
.cm-s-inner.CodeMirror {
    background-color: var(--sidebar) !important;
    border: none;
}

.cm-s-inner .CodeMirror-gutters {
    color: #404b53;
    border:none;
}

.cm-s-inner .CodeMirror-cursor {
    border-left: solid thin #f8f8f0;
}

.cm-s-inner .CodeMirror-linenumber {
    color: #6D8A88;
}

.cm-s-inner.CodeMirror-focused div.CodeMirror-selected {
    background: rgba(255, 255, 255, 0.1);
}

.cm-s-inner .CodeMirror-line::selection,
.cm-s-inner .CodeMirror-line>span::selection,
.cm-s-inner .CodeMirror-line>span>span::selection {
    background: rgba(255, 255, 255, 0.1);
}

.cm-s-inner .CodeMirror-line::-moz-selection,
.cm-s-inner .CodeMirror-line>span::-moz-selection,
.cm-s-inner .CodeMirror-line>span>span::-moz-selection {
    background: rgba(255, 255, 255, 0.1);
}

.cm-s-inner span.cm-comment {
    color: #7c7c7c;
}

.cm-s-inner span.cm-string,
.cm-s-inner span.cm-string-2 {
    color: #a8ff60;
}

.cm-s-inner span.cm-number {
    color: #cd3f45;
}

.cm-s-inner span.cm-variable {
    color: #55b5db;
}

.cm-s-inner span.cm-variable-2 {
    color: #a074c4;
}

.cm-s-inner span.cm-def {
    color: #55b5db;
}

.cm-s-inner span.cm-keyword {
    color: #ff79c6;
}

.cm-s-inner span.cm-operator {
    color: #9fca56;
}

.cm-s-inner span.cm-atom {
    color: #cd3f45;
}

.cm-s-inner span.cm-meta {
    color: #55b5db;
}

.cm-s-inner span.cm-tag {
    color: #55b5db;
}

.cm-s-inner span.cm-attribute {
    color: #9fca56;
}

.cm-s-inner span.cm-qualifier {
    color: #9fca56;
}

.cm-s-inner span.cm-property {
    color: #a074c4;
}

.cm-s-inner span.cm-variable-3,
.cm-s-inner span.cm-type {
    color: #9fca56;
}

.cm-s-inner span.cm-builtin {
    color: #9fca56;
}

.cm-s-inner .CodeMirror-activeline-background {
    background: rgba(255, 255, 255, 0.1);
}

.cm-s-inner .CodeMirror-matchingbracket {
    text-decoration: underline;
    color: white !important;
}