
.cm-s-inner.CodeMirror { background: #f7f7f7; color: #3a3432; }
.cm-s-inner div.CodeMirror-selected { background: #d6d5d4; }

.cm-s-inner .CodeMirror-line::selection, .cm-s-inner .CodeMirror-line > span::selection, .cm-s-inner .CodeMirror-line > span > span::selection { background: #d6d5d4; }
.cm-s-inner .CodeMirror-line::-moz-selection, .cm-s-inner .CodeMirror-line > span::-moz-selection, .cm-s-inner .CodeMirror-line > span > span::selection { background: #d9d9d9; }

.cm-s-inner .CodeMirror-gutters { background: #f7f7f7; border-right: 0px; }
.cm-s-inner .CodeMirror-guttermarker { color: #db2d20; }
.cm-s-inner .CodeMirror-guttermarker-subtle { color: #807d7c; }
.cm-s-inner .CodeMirror-linenumber { color: #807d7c; }

.cm-s-inner .CodeMirror-cursor { border-left: 1px solid #5c5855; }

.cm-s-inner span.cm-comment { color: #629755 !important }
.cm-s-inner span.cm-atom { color: #a16a94; }
.cm-s-inner span.cm-number { color: #a16a94; }

.cm-s-inner span.cm-property, .cm-s-inner span.cm-attribute { color: rgb(237,9,237); }
.cm-s-inner span.cm-keyword { color: #db2d20; }
.cm-s-inner span.cm-string { color: #2f9c0a; }

.cm-s-inner span.cm-variable { color: #1990b8; }
.cm-s-inner span.cm-variable-2 { color: #01a0e4; }
.cm-s-inner span.cm-def { color:#e06c75 !important }
.cm-s-inner span.cm-bracket { color: #3a3432; }
.cm-s-inner span.cm-tag { color: #db2d20; }
.cm-s-inner span.cm-link { color: #a16a94; }
.cm-s-inner span.cm-error { background: #db2d20; color: #5c5855; }

.cm-s-inner .CodeMirror-activeline-background { background: #e8f2ff; }
.cm-s-inner .CodeMirror-matchingbracket { text-decoration: underline; color: #a16a94 !important; }